<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mustdo.cambook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />



    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_cb"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar"
        tools:replace="android:icon,android:allowBackup"
        >

        <provider
            android:name="com.werb.pickphotoview.provider.PickProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/pick_file_paths"/>
        </provider>

        <activity android:name=".Ui.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Ui.MainActivity" />
        <activity android:name=".Ui.LoginActivity" />
        <activity android:name=".Ui.JoinActivity" />
        <activity android:name=".Ui.FindPwdActivity" />
        <activity android:name=".Ui.PickImagePreviewActivity"/>
        <activity android:name=".Ui.PickPhotoActivity"/>
        <!-- facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <!-- facebook -->

        <activity android:name=".Ui.AccountActivity" />
        <activity android:name=".Ui.TimeTableActivity" />
        <activity android:name=".Ui.AddSubjectActivity" />
        <activity android:name=".Ui.DeleteSubjectActivity" />
        <activity android:name=".Ui.SettingActivity" />
    </application>

</manifest>